.footer {
  margin-top: 160px;
  padding: 52px 69px 108px 69px;
  border-radius: 40px;
  background: var(--Background---Dark);
  display: flex;
  gap: 105px;
  @include tablet {
    flex-direction: column;
    gap: 30px;
  }
}
.footer-info {
  display: flex;
  flex-direction: column;
  &__logo {
    margin-bottom: 32px;
    max-width: 110px;
    max-height: 35px;
  }

  &__address,
  &__number {
    display: inline-block;
    font: var(--Caption);
    color: var(--Body-text);
    margin-bottom: 10px;
  }
}
.footer-links {
  flex-grow: 1;
  display: flex;
  gap: 105px;
  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  @include mobile-small {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__header {
    font: var(--Subtitle_2);
    color: var(--Text-Primary);
    margin-bottom: 24px;
  }

  &__link {
    margin-bottom: 16px;
    display: block;
    font: var(--Body_text_14);
    color: var(--Body-text);
  }
  &__link:hover {
    color: var(--Primary-200);
  }
}
.footer-socials {
  flex-shrink: 0;
  display: flex;
  @include desktop-small {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 41px;
    height: 41px;
  }
}
